* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    /* color: white; */
}

html body {
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;

}
#nav {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#nav-pt1 img {
    height: 40px;
    align-items: center;
}

#nav-pt2 {
    display: flex;
    color: white;
    align-items: center;
    gap: 20px;
}

#nav-pt2 h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

#nav-pt3 {
    display: flex;
    color: white;
    gap: 20px;
    align-items: center;
}

#nav-pt3 h3 {
    text-transform: uppercase;
    font-weight: 400;
}

#nav-pt3 button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}
#main h1{
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;
    font-weight: 500;
    position: relative;
    color: white;
    z-index: 1;
}
#main h1 span{
    background-color: brown;
    padding: 10px 40px;
    font-size: 40px;
    border-radius: 40px;
    font-weight: 100;
}
#main h1:nth-child(2){
    margin-top: 80px;
}
#top-left {
    position: absolute;
    top: 100px;
    left: 110px;
    height: 200px;
    border-radius: 20px;
}
#top-right {
    position: absolute;
    top: 100px;
    right: 80px;
    height: 200px;
    border-radius: 20px;
}
#bottom-left {
    position: absolute;
    bottom: 30px;
    left: 140px;
    height: 200px;
    border-radius: 20px;
}
#bottom-right {
    position: absolute;
    bottom: 30px;
    right: 140px;
    height: 200px;
    border-radius: 20px;
}
#top {
    position: absolute;
    top: 100px;
    left: 50%;
    height: 150px;
    border-radius: 20px;
}
#main h4{
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 40px 30px;
}